.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:#121214;
  color: #fff;
}
.main form {
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-contents: center;
  flex-direction: column;
  gap: 30px;

  padding: 16px;
  border-radius: 4px;
  background: #1e1e1e;
}
.main form div {
  display: flex;
  min-width: 300px;
}

.main form div > button {
  width: 40px;
  background: #FF4D4F;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  transition: all 0.2s;
}

.main form div > button:hover {
  filter: brightness(0.9);
}
.main form div label {
  padding: 8px 16px;
  background-color: #e1e1e1;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  flex: 1;
}

.main form div label:hover {
  background: #d0d0d0;
}

.main form div input {
  display: none;
}

.main form > button {
  background: #7035c4;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
}

.main form > button:hover {
  background: #301654;
}
.main form > button[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}